.nav {
    list-style: none;

   width: 50vw;
    margin: auto;
    
    padding-left: 0%;
   
   text-align: center;
   
    border-style: dashed;
}    

.nav>li {
    border-style: outset;
    
}

.nav>lia {
    text-decoration: none;
    color: green;
}

h1 {
     color: blue;
     font-family: impact, hae
}